.add-orders-flex{
    padding: 1.6cqmax;
    text-align: left;
}
.ant-card{
    margin: 1cqmax !important;
}
.ant-card-head-title{
    font-size: 2cqmax !important;
    font-weight: 400 !important;
}
.add-orders-fieldset{
    border: solid 1px #ddd;
    font-size: 1.3cqmax;
    border-radius: .2cqmax;
    line-height: 3cqmax;
    padding: 2cqmax;
}
.add-orders-select{
    width: 100%;
    margin-bottom: 1cqmax;
    cursor: pointer;
}
.ant-select-selection-item{
    color: #000 !important;
    text-align: left !important;
}
.ant-select-arrow{
    color: #222 !important;
}
.add-order-modal{
    position: relative;
    top: 2cqmax;
}
.ant-modal-title{
    font-size: 2cqmax !important;
}
.add-shipping-form{
    background-color: #eee;
    padding: 2cqmax;
    margin-top: 1cqmax;
}
.add-orders-row{
    padding: 1.6cqmax;
}
.shipping-text-pri{
    font-size: 1.5cqmax;
    letter-spacing: 2px;
}
.shipping-text-sec{
    font-size: 1.3cqmax;
}