.dashboard-pick-add-text{
    font-size: 1.2cqmax;
}
.dashboard-flex{
    padding: 2cqmax;
    margin-top: 1cqmax;
    width: 100%;
}
.dashboard-fieldset{
    width: 100%;
    border: solid 1px #ddd;
    font-size: 1.3cqmax;
    padding: 1cqmax;
    margin-right: 1cqmax;
    border-radius: .2cqmax;
}
.ant-card-meta-description{
    font-size: 2cqmax !important;
}
.ant-card-meta-title{
    font-size: .9cqmax !important;
}